<div id="numbers">
  <span id="bundle_tags_num"><%= @tags.length %></span> of <span id="tags_num"><%= @tags_cache.length %></span> tags
</div>

<div class="tag_letter">
  <h3><%= @tags[0].name[0].chr.upcase %></h3>
  <% tail = 0 %>

  <% @tags.each_with_index do |t, i| %>

      <div class="hover showntag"><span class="tag_delete">x</span><span class="tag"><%= t.name %></span> <a href="http://delicious.com/<%=session[:login] +'/'+ t.name %>"><%= t.count %></a></div>

      <% tail+=1 %>

      <% if tail % 6 == 0 %>

      </div>
          <div class="tag_letter">
            <h3>&nbsp</h3>

      <% end %>

      <% if @tags[i+1] && t.name[0].chr.downcase != @tags[i+1].name[0].chr.downcase %>

          <% (6 - tail % 6).times do %>
            <div class="showntag">&nbsp</div>
          <% end unless !((tail % 6) > 0) %>

          </div>
          <div class="tag_letter">
            <h3><%= @tags[i+1].name[0].chr.upcase %></h3>

          <% tail = 0 %>

      <% end %>

  <% end %>
