<div style="margin-left: 20px">
<h1>Delicious Tag Editor</h1>
<small>
  v.0.1.2. Accepts 'old' logins only. <br/>
  This tool is provided as is, use it at your own risk.<br/>
  Passwords are not stored, btw.<br/>
  You can contact me via <a href="mailto:zoreslav@gmail.com">zoreslav@gmail.com</a> <br/>
  or via twitter @<a href="http://twitter.com/zoreslav">zoreslav</a>.<br/>
  <strong>Questions are highly welcome.</strong><br/>
</small>

<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
<% end %>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% form_tag do -%>
<div style="margin-top: 40px"><label for="login">Login</label>
<%= text_field_tag 'login' %></div>

<div><label for="password">Password</label>
<%= password_field_tag 'password' %>
</div>

<div class="login_submit"><%= submit_tag 'Login' %></div>
<% end -%>
</div>
