<div style="font-size: 50px">Delicious Tag Editor</div>

<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
<% end %>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h2 class="sessions">Login</h2>

<% form_tag do -%>
<div><label for="login">Login</label>
<%= text_field_tag 'login' %></div>

<div><label for="password">Password</label>
<%= password_field_tag 'password' %>
</div>

<div class="login_submit"><%= submit_tag 'Login' %></div>
<% end -%>

<b>NOTE:</b> Old (non-Yahoo) authentication. If you know a working way of Yahoo Auth in ruby, please contact me <a href="mailto:zoreslav@gmail.com">zoreslav@gmail.com</a> or <a href="http://twitter.com/zoreslav">@zoreslav</a>.<br />
Thank you.